.channel-list {
  color: #FFF;
}

.title {
  margin: 0;
  display: flex;
  justify-content: center;
}

.usuarios {
  font-size: 18px;
}

.user-list {
  background-color: grey;
  height: 103%;
  border-radius: 7px;
  margin: -6px;
}

.users {
  background-color: #C0C0C0;
  margin: auto;
  margin-left: 11px;
  border: 1px solid #f00;
  padding: 2px 10px;
  border-radius: 15px;
  outline: none;
  display: flex;
  width: 85%;
  height: 23px;
  border-color: transparent;
}
